# Tu Nostr Wallet Connect URL
NWC_URL=

# URL for backend database
NEON_URL=

# NOSTR private key for signing events
NOSTR_PRIVKEY=
# Enable NOSTR announcements
NOSTR_ENABLE=true

# URL of the application (frontend)
APP_URL=