# Tu Nostr Wallet Connect URL
VITE_NWC_URL=nostr+walletconnect://...

# Tu Lightning Address para testing
VITE_LIGHTNING_ADDRESS=tu@email.com

# URL de conexión directa a la base serverless de Neon
VITE_NEON_URL=postgresql://user:password@hostname/dbname?sslmode=require

# Clave privada Hex Nostr (Opcional, del "Casino" para firmar apuestas automáticas)
VITE_APP_NOSTR_PRIVKEY=
